<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); -%>
</head>

<body>

    <%- include('layout/header'); -%>

    <h1><%= title %></h1>


    <%- include('layout/footer'); -%>

</body>

</html>